pandas==1.4.3
scikit-learn==1.1.1
scipy==1.8.0
sklearn==0.0
streamlit==1.13.0
streamlit-lottie==0.0.3
virtualenv==20.16.5
xgboost==1.6.2
nltk>=3.8.1
spacy>=3.4.0
easyocr>=1.6.2
PIL>=9.4.0
./en_core_web_sm-3.4.1.tar.gz
